*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: auto;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    overflow-y: auto;
}

/* .hero { background: #2E3440; } */

.title,
.subtitle,
.label { 
    color: #fff; 
}  


a {
  color:  black;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

a:hover {
  color:  white;
}